<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.sun.jersey.archetypes"/>
        <listEntry value="archetypeArtifactId=jersey-quickstart-webapp"/>
        <listEntry value="archetypeVersion=1.19.4"/>
        <listEntry value="groupId=RestAPI"/>
        <listEntry value="artifactId=devaRest"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=RestAPI.devaRest"/>
        <listEntry value="outputDirectory=C:\Users\LENOVO PC\Documents\Spring Framework"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\LENOVO~1\AppData\Local\Temp\m2e-archetypeGenerator9757576791095694829"/>
</launchConfiguration>
